/*CSS reset*/

@import "modern-normalize";

:root {
  line-height: 1.5;
  --font-serif: "Playfair Display", serif;
  --font-sans: "Roboto", sans-serif;
}

h1, h2, h3, h4, h5, figure, p, ol, ul {
  margin: 0;
}

ol[role="list"], ul[role="list"] {
  list-style: none;
  padding-inline: 0;
}

h1, h2, h3, h4, h5 {
  font-size: inherit;
  font-weight: inherit;
}

img {
  display: block;
  max-inline-size: 100%;
}

/*Sectioning*/

header, footer {
  height: 60vh;
  border-bottom: 2px solid black;
}

main {
  height: 50vh;
  border-bottom: 2px solid black;
}

img, svg {
  width: 10px;
  height: 10px;
}

/*Header section*/

header {
  background: linear-gradient(170deg, #0891b2 60%, white 60%);
  display: flex;
  justify-content: center;
  align-items: center;
}

#header-left {
  position: relative;
}

#header-left img {
  height: 55vh;
  width: 25vw;
}

#header-left p {
  color: white;
  font-family: "Playfair Display", serif;
  position: absolute;
  bottom: 5%;
  left: 5%;
  font-size: 3rem;
}

#header-right {
  height: 40vh;
  width: 70vh;
  background-color: white;
  box-shadow: 1px 1px rgb(201, 196, 196);
  padding: 10px;
}

#header-right h1 {
  font-family: "Playfair Display", serif;
  font-size: 2rem;
  margin-bottom: 5px;
}

#header-right p {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}