/*CSS reset*/
:root {
  line-height: 1.5;
  --font-serif: "Playfair Display", serif;
  --font-sans: "Roboto", sans-serif;
}

body, h1, h2, h3, h4, h5, figure, p, ol, ul {
  margin: 0;
}

ol[role="list"], ul[role="list"] {
  list-style: none;
  padding-inline: 0;
}

h1, h2, h3, h4, h5 {
  font-size: inherit;
  font-weight: inherit;
}

img {
  display: block;
  max-inline-size: 100%;
}

body {
  width: 100%;
}

/*
Source - https://stackoverflow.com/a
Posted by Sarat Chandra, modified by community. See post 'Timeline' for change history
Retrieved 2025-12-22, License - CC BY-SA 3.0
*/

html, body {
    overflow-x:hidden;
}


/*Sectioning*/

main {
  margin-bottom: 100px;
  margin-top: 50px;
}

a {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Header section*/

header {
  background: linear-gradient(169deg, #0891b2 60%, white 60%);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 70px;
  padding-top: 50px;
  flex-wrap: wrap;
}

#header-left {
  position: relative;
}

#header-left {
  width: 300px;
  height: 300px;
}

#header-left img {
  width: 100%;
  height: 100%;
}

#header-left p {
  color: white;
  font-family: var(--font-serif);
  position: absolute;
  bottom: 5%;
  left: 5%;
  font-size: 3rem;
}

#header-right {
  height: 50%;
  width: 50%;
  min-width: 300px;
  background-color: white;
  box-shadow: 1px 1px rgb(201, 196, 196);
  padding: 10px;
  display: flex;
  flex-direction: column;
}

#header-right h1 {
  font-family: var(--font-serif);
  font-size: 2rem;
  margin-bottom: 5px;
}

#header-right p {
  font-family: var(--font-sans);
  font-size: 1rem;
}

#header-icons {
  margin-top: auto;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 5px;
}

#header-icons img {
  min-height: 30px;
  min-width: 30px;
}

/*Main section*/

main {
  display: flex;
  flex-direction: column;
}

main h1 {
  font-family: var(--font-serif);
  font-size: 1.5rem;
  margin-left: 30px;
}

#card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.Cards {
  width: 30vw;
  min-width: 280px;
  height: 70vh;
  min-height: 280px;
  max-height: 600px;
  box-shadow: 1px 1px 2px 2px rgb(201, 196, 196);
  margin-bottom: 20px;
}

.Project-info {
  margin: 20px;
}

.Project-info-line-one {
  display: flex;
  justify-content: space-between;
  font-family: var(--font-serif);
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.Project-info-line-one div {
  display: flex;
}

.Project-info-line-one div img, .Project-info-line-one div svg {
  width: 3vw;
  height: 3vh;
}

.Project-screenshot {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-serif);
  font-size: 2rem;
  color: white;
  width: 100%;
  height: 60%;
}

.Project-screenshot p {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
}

.Project-info-explanation {
  font-family: var(--font-sans);
}

/*Footer section*/

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0891b2;
  color: white;
  flex-wrap: wrap;
}

#footer-right, #footer-left{
  width: 40%;
  padding: 10px;
}

#footer-left {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#footer-right {
  display: flex;
  justify-content: center;
  align-self: center;
}

#footer-right img {
  width: 500px;
  height: 500px;
  min-width: 300px;
  min-height: 300px;
}

#footer-left h1 {
  font-family: var(--font-serif);
  font-size: 2rem;
  margin-bottom: 5px;
}

#footer-left p {
  font-family: var(--font-sans);
  margin-bottom: 20px;
}

.footer-contact-svg {
  display: flex;
  justify-content: left;
}

.footer-contact-svg p {
  display: flex;
  align-items: center;
}

.footer-contact-svg svg {
  width: 3vw;
  height: 3vh;
}

#footer-icons {
  display: flex;
}

#footer-icons img , #header-icons img {
  width: 4vw;
  height: 4vh;
  min-height: 20px;
  min-width: 20px;
  margin: 5px;
}

@media(max-width: 700px) {
  .Cards {
    height: 400px;
  }

  footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #footer-right img {
    width: 400px;
    height: 400px;
  }

  .footer-contact-svg svg {
    min-width: 20px;
    min-height: 20px;
  }

  #footer-icons img , #header-icons img {
    height: 20px;
    width: 20px;
  }
}

@media(max-width: 560px) {
  main {
    align-items: center;
  }

  main h1 {
    margin-left: 0px;
  }
}