/*CSS reset*/

@import "modern-normalize";

:root {
  line-height: 1.5;
  --font-serif: "Playfair Display", serif;
  --font-sans: "Roboto", sans-serif;
}

body, h1, h2, h3, h4, h5, figure, p, ol, ul {
  margin: 0;
}

ol[role="list"], ul[role="list"] {
  list-style: none;
  padding-inline: 0;
}

h1, h2, h3, h4, h5 {
  font-size: inherit;
  font-weight: inherit;
}

img {
  display: block;
  max-inline-size: 100%;
}

/*Sectioning*/

main {
  margin: 30px;
  margin-bottom: 100px;
}

a {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Header section*/

header {
  background: linear-gradient(169deg, #0891b2 60%, white 60%);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 70px;
  padding-top: 50px;
}

#header-left {
  position: relative;
}

#header-left img {
  height: 55vh;
  width: 25vw;
}

#header-left p {
  color: white;
  font-family: var(--font-serif);
  position: absolute;
  bottom: 5%;
  left: 5%;
  font-size: 3rem;
}

#header-right {
  height: 40vh;
  width: 70vh;
  background-color: white;
  box-shadow: 1px 1px rgb(201, 196, 196);
  padding: 10px;
  display: flex;
  flex-direction: column;
}

#header-right h1 {
  font-family: var(--font-serif);
  font-size: 2rem;
  margin-bottom: 5px;
}

#header-right p {
  font-family: var(--font-sans);
  font-size: 1rem;
}

#header-icons {
  margin-top: auto;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

/*Main section*/

main h1 {
  font-family: var(--font-serif);
  font-size: 1.5rem;
}

#card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.Cards {
  width: 30vw;
  height: 70vh;
  box-shadow: 1px 1px 2px 2px rgb(201, 196, 196);
}

.Project-info {
  margin: 20px;
}

.Project-info-line-one {
  display: flex;
  justify-content: space-between;
  font-family: var(--font-serif);
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.Project-info-line-one div {
  display: flex;
}

.Project-info-line-one div img, .Project-info-line-one div svg {
  width: 3vw;
  height: 3vh;
}

.Project-screenshot {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-serif);
  font-size: 2rem;
  color: white;
  width: 100%;
  height: 60%;
}

.Project-info-explanation {
  font-family: var(--font-sans);
}

/*Footer section*/

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0891b2;
  color: white;
}

#footer-right img, #footer-left{
  width: 55vh;
  height: 55vh;
}

#footer-left h1 {
  font-family: var(--font-serif);
  font-size: 2rem;
  margin-bottom: 5px;
}

#footer-left p {
  font-family: var(--font-sans);
  margin-bottom: 20px;
}

.footer-contact-svg {
  display: flex;
  justify-content: left;
}

.footer-contact-svg svg {
  width: 3vw;
  height: 3vh;
}

#footer-icons {
  display: flex;
}

#footer-icons img , #header-icons img {
  width: 4vw;
  height: 4vh;
}